@layer components {
  .btn {
    @apply hover:bg-bg-200 bg-bg flex cursor-pointer gap-2 border px-4 py-2 transition-colors duration-100;
  }

  .btn.selected {
    @apply bg-text text-bg;
  }

  .input {
    @apply focus:bg-bg-200 max-w-full border px-4 py-2;
  }

  .image-border {
    @apply border p-1 md:border-2 md:p-2;
  }
}
