@layer components {
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    color: var(--color-bg-600);
  }
}
