@import "tailwindcss";
@import "./themes.css";
@import "./classes.css";
@import "./components.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    background-color: var(--color-bg);

    font-family: Consolas;
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
